.hidden.menu {
  display: none; }

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em; }

.masthead .logo.item img {
  margin-right: 1em; }

.masthead .ui.menu .ui.button {
  margin-left: 0.5em; }

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal; }

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal; }

.ui.vertical.stripe {
  padding: 8em 0em; }
  .ui.vertical.stripe h3 {
    font-size: 2em; }
  .ui.vertical.stripe .button + h3, .ui.vertical.stripe p + h3 {
    margin-top: 3em; }
  .ui.vertical.stripe .floated.image {
    clear: both; }
  .ui.vertical.stripe p {
    font-size: 1.33em; }
  .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em; }

.quote.stripe.segment {
  padding: 0em; }
  .quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em; }

.footer.segment {
  padding: 5em 0em; }

.secondary.pointing.menu .toc.item {
  display: none; }

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important; }
  .secondary.pointing.menu .item, .secondary.pointing.menu .menu {
    display: none; }
  .secondary.pointing.menu .toc.item {
    display: block; }
  .masthead.segment {
    min-height: 350px; }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em; }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em; } }

.container {
  padding: 15px; }
  .container.top_margin {
    margin-top: 10px; }

.text-center {
  text-align: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.masthead h2 {
  color: #34495e !important; }

.form-errors {
  color: darkred; }

.password {
  max-width: 300px; }

.calendar .day {
  border-radius: 5px; }
  .calendar .day .number {
    padding: 10px;
    width: 100%;
    line-height: 180px;
    height: 200px;
    font-weight: bold;
    font-size: 30px;
    background-color: #eceff4; }
    .calendar .day .number.muted {
      color: #ABAEB2 !important; }
  .calendar .day .head {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #b1fdc3;
    font-size: 20px;
    padding: 0 10px;
    background-color: #D8DDE4; }
    .calendar .day .head i {
      cursor: pointer; }
    .calendar .day .head span {
      width: 30px;
      height: 30px;
      line-height: 30px;
      background-color: #ed4b3e;
      border-radius: 50%;
      margin-top: 5px;
      color: white; }
  .calendar .day.active .head {
    background-color: #34495e; }
  .calendar .day.active .number {
    background-color: #eceff4; }

.dates-scroller {
  width: 100%;
  text-align: center;
  margin: 10px 0; }
  .dates-scroller i {
    cursor: pointer; }
  .dates-scroller .text {
    width: 250px;
    display: inline-block; }

.event {
  padding: 10px;
  border-bottom: 2px solid #b1fdc3; }
  .event .title {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .event .title, .event .time {
    display: inline-block;
    font-size: 20px; }
  .event .head {
    width: 100%;
    height: 30px; }

.eventsModal .content {
  max-height: 300px;
  overflow: auto; }

.eventsModal .header {
  background: #b1fdc3;
  padding: 10px 15px;
  height: 40px; }

.ui.inverted.segment {
  background: #eceff4; }

.ui.secondary.inverted.pointing.menu {
  border: 0;
  background: none; }

.top-menu {
  width: 100%;
  background: #34495e; }

.masthead.segment {
  padding-top: 0; }

.ui.secondary.inverted.menu .active.item {
  color: #b1fdc3 !important; }

.footer {
  background: #34495e !important; }

.ui.menu .active.item, .ui.menu .active.item:hover {
  background: #34495e !important;
  color: #b1fdc3 !important;
  font-weight: bold; }

.inverted .dropdown:hover .text, .inverted .dropdown:hover > i {
  color: #b1fdc3 !important; }

.right.menu > .ember-view {
  line-height: 40px; }

.ui.secondary.inverted.pointing.menu > .item:hover {
  color: #b1fdc3 !important; }

/*# sourceMappingURL=frontend.css.map */